#dashboard.container
	.row
		section.span6#activities

			h2 Users online: x

			ul.users
				li.user User x did something
				li.user User x did something
				li.user User x did something

		section.span6#question-stats

			ul.questions
				li.question
					figure
						figcaption Question 1
						ul.answers
							li.answer.answer1(style="width: 30%") A
							li.answer.answer2(style="width: 10%") B
							li.answer.answer3(style="width: 5%") C
							li.answer.answer4(style="width: 20%") D
							li.answer.noAnswer(style="width: 35%") ?
				li.question
					figure
						figcaption Question 2
						ul.answers
							li.answer.answer1(style="width: 20%") A
							li.answer.answer2(style="width: 10%") B
							li.answer.answer3(style="width: 30%") C
							li.answer.answer4(style="width: 5%") D
							li.answer.noAnswer(style="width: 35%") ?
				li.question
					figure
						figcaption Question 3
						ul.answers
							li.answer.answer1(style="width: 35%") A
							li.answer.answer2(style="width: 5%") B
							li.answer.answer3(style="width: 10%") C
							li.answer.answer4(style="width: 20%") D
							li.answer.noAnswer(style="width: 30%") ?