#login
	text-align center
	form
		margin 0
	section
		margin 0.6em 0 0
	.row
		margin 0
		.span6
			margin 0 auto
			float none
	ol.fields
		margin 0
		padding 0
		list-style none
	li.field
		margin 0
		padding 0
	input,button
		font-size 1.8em
		line-height 2.4em
		min-height 2.4em
		display inline
		width 90%
		padding 0 0.4em
		margin 0
		border-radius 16px
	input
		width 87%
	button
		margin 0.4em 0 0
		font-weight 600
	hr
		border 0
		&:after
			content "or"
	#altLogins
		margin 1.6em 0 0
		&:before
			content "Or, to access questions in your area"
			display block
			margin 0 0 0.6em
			font-size 1.6em
			font-weight 600
