@import 'nib'
#quizContainer
	font-size 10px
#quizHeader
	position relative
	/*.wrapQuizHeader
		padding 0 0 0 120px
		height 156px*/
	.logo
		height 82px
		width 100px
		text-indent 1000px
		white-space nowrap
		overflow hidden
		background url(../img/home_logo.png) no-repeat 0 0
		background-size contain
		margin 0 auto
		/*position absolute
		top 0
		left 0*/
	.titleWrap
		border solid #b4b5a8
		border-width 1px 0
		margin 0.6em
		padding 14px 0
		overflow hidden
	.title
		font-size 2em
		line-height 1.2em
		font-style italic
		color #4a4a4a
		display table
		vertical-align middle
		height 100%
		width 100%
		/*.titleText
			display table-cell
			vertical-align middle
			height 100%
			width 100%*/
			

#questions
	li
		font-size 2em
		font-weight 600
		line-height 1.2em
		margin 15px 0
		position relative
		article
			padding 14px
			border-radius 9px
			cursor pointer
			min-height 89px
		.questionNumber
			font-style italic
			margin 0 0 6px
		.questionText
			margin 0 117px 0 0
		.questionState
			background url(../img/sprite.png) no-repeat 0 0
			background-size cover
			height 89px
			text-indent 1000px
			overflow hidden
			width 99px
			white-space nowrap
			position absolute
			bottom 0
			right 14px

	.answered
		font-weight 400
		article
			min-height 147px
		.questionState
			height 147px
			background-position 0 -89px

#questionTitle
	font-size 2em
	font-weight 600
	line-height 1.2em
	margin 1em 0
	padding 0.8em
	background #f4f2e5
	border-radius 9px
	box-shadow 1px 1px 5px rgba(0, 0, 0, 0.2), inset 1px 1px 6px rgba(255, 255, 255, 0.8), inset -1px -1px 3px rgba(0, 0, 0, 0.2)

#answers
	li
		font-size 2em
		font-weight 600
		line-height 1.1em
		padding 0.6em
		background-color #FFF
		margin 15px 0
		border-radius 9px
		cursor pointer
		box-shadow 1px 1px 5px rgba(0, 0, 0, 0.2)
		.answerText
			padding 0.6em
		.answerLetter
			float right
			padding 0.6em
			box-shadow inset 1px 1px 5px rgba(255, 255, 255, 0.3), inset -1px -1px 5px rgba(0, 0, 0, 0.3)
			border-radius 7px
			width 1.4em
			text-align center

		&.answered
			font-weight 400
			.answerLetter
				box-shadow inset 1px 1px 5px rgba(0, 0, 0, 0.3), inset -1px -1px 5px rgba(255, 255, 255, 0.3)