#dashboard.container

	.row
		section.span6

			ul#users
				each user in users
					- var className = user.name ? 'authed' : 'anonymous';
					li(class=className, id='user-' + user.session)
						if user.name
							// img(src='http://www.gravatar.com/avatar/#{user.name}?default=monsterid&amp;forcedefault=1')
							| #{user.name}
						else
							i.icon-user &#160;
