#login.container
    .row
        .span12
            #logo Did You Catch That?
            section
                h2 Where are you?
                ul
                    li How accurate?
                        p #{location.accuracy}
                    li Latitude!
                        p #{location.latitude}
                    li longitude!
                        p #{location.longitude}
                    li When did this happen?
                        p #{location.timestamp}