- var className = answered ? 'answered' : null;
- className += ' question';
- var iter = id + 1;
li(class=className, data-id="#{id}")
	.questionNumber Question #{iter}
	article.btnOrange
		.questionState
		.questionText #{title}